<template name="Header">
  <a style="color:black" class="item aloha" href="{{pathFor 'Home_Page'}}">
    <img style="max-height: 400px" class="ui centered image" src="/images/manoa-icon.png"/>
  </a>

  <div style="margin: 0px; border-radius: 0px" class="ui borderless inverted menu">

    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Club Hub</h1></a>

      <!--
      <a class="item" href="{{ pathFor 'Add_Stuff_Page' }}">Add Stuff </a>
      <a class="item" href="{{ pathFor 'List_Stuff_Page' }}">List Stuff</a>
      -->

      <a class="right aligned item" href="{{ pathFor 'Login_Page' }}">Login</a>
    </div>
  </div>
</template>